:root {
  --navbar-bg-color: #cccccc;
}

@font-face {
  font-family: "arabesque";
  src: url("./font/freebooterscript.ttf");
}

body {
  height: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

header {
  height: 7%;
}

body h1 {
  text-align: center;
}

p {
  text-align: justify;
}

h4 {
  text-align: justify;
  font-size: 1.5em;
}

h3 {
  text-align: justify;
}

nav {
  background-color: var(--navbar-bg-color);
  min-height: 100%;
  max-height: 100%;
}

.navbar-brand {
  font-size: 1.5em;
  font-family: "arabesque";
  font-weight: bolder;
}

.home-title {
  font-size: 6em;
  font-family: "arabesque";
  padding-bottom: 0.5em;
}

.subheader-title {
  text-align: center;
  font-size: 25px;
}

.map-column {
  padding: 0px;
}
#logo-ifsttar {
  display: block;
  max-width: 230px;
  max-height: 50px;
  width: auto;
  height: auto;
}
#maintitle {
  margin-bottom: 2em;
}
#content {
  height: 100%;
}
#home {
  margin-top: 6em;
}
#map {
  height: 93%;
}

#map div.col-sm-2 {
  height: 100%;
}
#map div.col-sm-8 {
  height: 100%;
}
#map div.row {
  height: 100%;
}
#map .container-fluid {
  height: 100%;
}
#Mapcontainer {
  height: 100%;
}

.icon-button-ol {
  width: 16px;
  height: 16px;
  border: none;
  background: none;
}

.icon {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
}

.icon-info {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
}

/* Map Controls */

.ol-zoom .ol-zoom-in {
  background-color: #000000;
}
.ol-zoom .ol-zoom-in:hover {
  background-color: #343a40;
}
.ol-zoom .ol-zoom-out {
  background-color: #000000;
}
.ol-zoom .ol-zoom-out:hover {
  background-color: #343a40;
}

.custom-control {
  margin: 1px;
  width: 1.375em;
  height: 1.375em;
  font-size: 1.14em;
  position: absolute;
}
.ol-legend {
  position: absolute !important;
  bottom: 0 !important;
  /* height: 40% !important; */
  display: flex;
}
#ExportMap {
  top: 5em;
  left: 0.5em;
  background-image: url("/assets/svg/si-glyph-end-page.svg");
}

/* LEGEND */

#legendButton {
  top: 7em;
  left: 0.5em;
  background-image: url("/assets/svg/si-glyph-note.svg");
}
#legend {
  position: absolute;
  bottom: 0;
  width: 45%;
  height: 35%;
  z-index: 50;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.legendSubContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(128, 128, 179, 0.497);

  width: 50%;
  height: 100%;
}
.legendSubSubContainer {
  /* width: 50%; */
  height: 95%;
  margin-bottom: 5%;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

.legendColorRamp {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.colorAndLabel {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: flex-end;
}
.legendColorLabel {
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 80%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.legendColorRampLabels {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#legendShapes {
  width: 64%;
}

.squareContainer {
  width: 55% !important;
}

#circleLabels {
  width: 36%;
}

.circleOneLabel {
  width: 42%;
  font-size: 78%;
  word-break: break-all;
  text-align: left;
  margin: auto !important;
}

.circleTwoLabels {
  width: 36%;
  display: flex;
  flex-direction: column;
}
#legendCircleContainer {
  width: 100%;
  height: 70%;
  display: flex;
}

.subContainerLabel {
  position: absolute;
  top: 17%;
  height: 10%;
  max-height: 10%;
  width: 24%;
  text-align: center;
  font-size: 0.9rem;
}
.bigSubSubContainer {
  width: 55%;
}
.smallSubSubContainer {
  width: 45%;
  margin-left: 4%;
}
.legendLinkSquares {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.zoomOutMessage {
  font-size: 0.7em;
  margin: auto;
  width: 90%;
}

chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}
.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}
.background.bar {
  fill: #ccc;
}
.foreground.bar {
  fill: steelblue;
}
.brush-handle {
  fill: #eee;
  stroke: #666;
}

/*NODE MODAL */

.rampContainer {
  display: flex;
}
.ramps {
  padding: 0.3em;
}
.rampContainerAndLabel {
  display: flex;
  flex-direction: column;
  margin: 1em !important;
}
.colorSubContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#colorPickerChangenode {
  display: flex;
  flex-direction: column;
}
.selectedRamp {
  border: solid rgb(112, 98, 98) 2px;
}
.linkSelectedRamp {
  border: solid rgb(112, 98, 98) 2px;
}

#colorAlertMessage {
  color: red;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#linkColorAlertMessage {
  color: red;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.form-check-input {
  position: relative !important;
  margin-right: 0.5em;
}
.form-check-label {
  padding-top: 0.1em;
}
.form-check {
  display: flex;
  flex-wrap: wrap;
}
.small-icon {
  width: 0.8em;
}
#NodesSemioColorRow {
  align-items: center;
}
