#legendButton {
  bottom: 0.5em;
  left: 0.5em;
  background-image: url("/assets/svg/legend.svg");
  background-size: cover;
}

#legendButton:hover {
  background-image: url("/assets/svg/legend_hovered.svg");
  background-size: cover;
}
#legend {
  position: absolute;
  bottom: 0.7em;
  left: 0.7em;
  width: 45%;
  height: 35%;
  z-index: 50;
  display: none;
  align-items: center;
  /* justify-content: center; */
}

#legendClose {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.1em;
  color: #000000;
  font-family: quicksand, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  padding-right: 1%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
}

#legendClose:hover {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 4 4 4 4;
}
.legendSubContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(128, 128, 179, 0.7);

  width: 50%;
  height: 100%;
}
.legendSubSubContainer {
  /* width: 50%; */
  height: 95%;
  margin-bottom: 5%;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

.legendColorRamp {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.colorAndLabel {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: flex-end;
}
.legendColorLabel {
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 75%;
  word-break: break-all;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.legendColorRampLabels {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#legendShapes {
  width: 64%;
}

.squareContainer {
  width: 55% !important;
}

#circleLabels {
  width: 36%;
}

.circleOneLabel {
  width: 42%;
  font-size: 78%;
  word-break: break-all;
  text-align: left;
  margin: auto !important;
}

.circleTwoLabels {
  width: 36%;
  display: flex;
  flex-direction: column;
  word-break: break-allk;
}
#legendCircleContainer {
  width: 100%;
  height: 70%;
  display: flex;
}

.subContainerLabel {
  position: absolute;
  top: 17%;
  height: 10%;
  max-height: 10%;
  width: 24%;
  text-align: center;
  font-size: 0.9rem;
  overflow: hidden;
}
.bigSubSubContainer {
  width: 55%;
}
.smallSubSubContainer {
  width: 45%;
  margin-left: 4%;
}
.legendLinkSquares {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.zoomOutMessage {
  font-size: 0.7em;
  margin: auto;
  width: 90%;
}

chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}
.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}
.background.bar {
  fill: #ccc;
}
.foreground.bar {
  fill: steelblue;
}
.brush-handle {
  fill: #eee;
  stroke: #666;
}
